{% extends '_base.html' %}

{% load widget_tweaks %}

{% block body_content %}
    {% url "account:login_url" as login_url %}
	{% url "account:reset_password" as reset_password_url %}

    <div class="ugf-content pt270">
        <h2>Login</h2>
        <p>Inter yor valid email address and Password to login your account</p>

        {% include "includes/_message.html" %}

        <form action="{{ login_url }}" method="post">
            <div class="form-group">
                <label>Email Address</label>
                <input name="email" value="{{ data.email|safe }}" type="email" placeholder="example@domain.com" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="password" value="{{ data.password|safe }}" type="password" placeholder="***********" class="form-control" required>
            </div>
            {% csrf_token %}

            <div class="form-group check-flex justify-content-end mb10">
                <div class="forget-pass">
                    <a href="{{ reset_password_url }}">Forget password ?</a>
                </div>
            </div>
            <button type="submit" class="btn">Sign in Now</button>
        </form>
    </div>
{% endblock body_content %}

{% block alternet_access %}
    {% url "account:register_url" as register_url %}
    <div class="alternet-access">
        <p>
            Don't have an account ?
            <a href="{{ register_url }}">Sign up now !</a>
        </p>
    </div>
{% endblock alternet_access %}
