{% extends '_base.html' %}

{% load widget_tweaks %}

{% block body_content %}
    {% url "account:login_url" as login_url %}
    {% url "account:reset_password" as reset_password_url %}

    <div class="ugf-content pt270">
        <h2>Reset Password</h2>
        <p>We’ll send you an email with a link to reset the password to your account</p>

        {% include "includes/_message.html" %}
        
        <form action="{{ login_url }}" method="post">
            <div class="form-group">
                <label>Eamil Address</label>
                <input name="email" value="{{ data.email|safe }}" type="email" placeholder="example@domain.com" class="form-control" required>
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-md">get reset link</button>
        </form>
    </div>
{% endblock body_content %}

{% block alternet_access %}
    {% url "account:login_url" as login_url %}
    <div class="alternet-access">
        <p>
            Remembered your password ?
            <a href="{{ login_url }}">Login now !</a>
        </p>
    </div>
{% endblock alternet_access %}
