{% extends '_base.html' %}

{% load widget_tweaks %}

{% block body_content %}
<div class="ugf-content pt270">

    {% url "account:register_url" as register_url %}
    {% url "account:reset_password" as reset_password_url %}

    <h2>Let's go!
        <span>Join with our Platform</span>
    </h2>
    <p>
        Inter your valid email address and complete some easy steps
        <br> for register your account
    </p>

    {% include "includes/_message.html" %}

    <form action="{{ register_url }}" method="post" class="email-form">
        <div class="form-group">
            <label>Eamil Address</label>
            <input name="email" value="{{ data.email }}" type="email" placeholder="example@domain.com" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input name="password" value="{{ data.password }}" type="password" placeholder="****" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input name="password2" value="{{ data.password2 }}" type="password" placeholder="****" class="form-control" required>
        </div>

        {% csrf_token %}
        <button type="submit" class="btn">
            <span>Sign up Now</span>
            <i class="las la-arrow-right"></i>
        </button>
    </form>
</div>
{% endblock body_content %}


{% block alternet_access %}
    {% url 'account:login_url' as login %}
    <div class="alternet-access">
        <p>Already have an account?
            <a href="{{ login }}">Log in now!</a>
        </p>
    </div>
{% endblock alternet_access %}