.pt30 {
    padding-top: 30px;
}

.pb30 {
    padding-bottom: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pb40 {
    padding-bottom: 40px;
}

.pt60 {
    padding-top: 60px;
}

.pb60 {
    padding-bottom: 60px;
}

.pt70 {
    padding-top: 70px;
}

.pb70 {
    padding-bottom: 70px;
}

.pt80 {
    padding-top: 80px;
}

.pb80 {
    padding-bottom: 80px;
}

.pt100 {
    padding-top: 100px;
}

.pb100 {
    padding-bottom: 100px;
}

.pt130 {
    padding-top: 130px;
}

.pb130 {
    padding-bottom: 130px;
}

.pt150 {
    padding-top: 150px;
}

.pb150 {
    padding-bottom: 150px;
}

.pt180 {
    padding-top: 180px;
}

.pb180 {
    padding-bottom: 180px;
}

.pt200 {
    padding-top: 200px;
}

.pb200 {
    padding-bottom: 200px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.ugf-block {
    position: relative;
}

.ugf-block .alternet-access {
    position: absolute;
    top: 40px;
    right: 40px;
}

.ugf-block .alternet-access p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #546274;
    font-family: "Roboto", sans-serif;
}

.ugf-block .alternet-access p a {
    color: #1e85ff;
}

.ugf-bg-1 {
    background: url(../img/bg/bg-1.jpg) no-repeat center center;
}

.ugf-logo {
    padding: 0 40px;
    position: absolute;
    top: 30px;
    left: 0;
}

.form-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 100px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ugf-form-block-header {
    text-align: center;
    margin-bottom: 35px;
    width: 100%;
}

.ugf-form-block-header h1 {
    font-size: 3.0rem;
    margin-bottom: 20px;
    color: #1c2437;
    font-family: "Roboto", sans-serif;
}

.ugf-form-block-header p {
    font-size: 1.5rem;
    color: #546274;
    font-family: "Roboto", sans-serif;
}

.ugf-third-party-login {
    width: 100%;
}

.ugf-third-party-login a {
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.4rem;
    font-weight: 700;
    color: #546274;
    line-height: 60px;
    font-family: "Roboto", sans-serif;
    background: #ffffff;
}

.ugf-third-party-login a:hover {
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.05);
}

.ugf-third-party-login a img {
    margin-right: 10px;
}

.ugf-third-party-login a+a {
    margin-top: 20px;
}

.ugf-block-separator {
    height: 85px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.ugf-block-separator:before {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    content: '';
    z-index: 1;
}

.ugf-block-separator p {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    color: #546274;
    background: #ffffff;
    position: relative;
    z-index: 2;
    padding: 0 15px;
    font-family: "Roboto", sans-serif;
}

.ugf-input-block {
    width: 100%;
}

.ugf-input-block .form-group {
    position: relative;
    margin-bottom: 20px;
}

.ugf-input-block .form-group .form-control {
    height: 60px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    color: #546274;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    padding-left: 45px;
    padding-right: 15px;
}

.ugf-input-block .form-group .form-control::-webkit-input-placeholder {
    color: #546274;
}

.ugf-input-block .form-group .form-control::-moz-placeholder {
    color: #546274;
}

.ugf-input-block .form-group .form-control:-ms-input-placeholder {
    color: #546274;
}

.ugf-input-block .form-group .form-control:-moz-placeholder {
    color: #546274;
}

.ugf-input-block .form-group .form-control:focus {
    border-color: rgba(30, 133, 255, 0.3);
}

.ugf-input-block .form-group .form-control:focus+label i {
    color: #1e85ff;
}

.ugf-input-block .form-group label {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 45px;
    text-align: center;
}

.ugf-input-block .form-group label i {
    font-size: 2.4rem;
    color: #aaaaaa;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.ugf-input-block .form-group .custom-checkbox .custom-control-input {
    height: 18px;
    width: 18px;
    border-radius: 3px;
    border: 3px solid rgba(0, 0, 0, 0.08);
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ugf-input-block .form-group .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background: #1e85ff;
}

.ugf-input-block .form-group .custom-checkbox .custom-control-label {
    width: auto;
    text-align: left;
    position: static;
    top: auto;
    left: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    padding-left: 30px;
}

.ugf-input-block .form-group .custom-checkbox .custom-control-label:before {
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.ugf-input-block .form-group .custom-checkbox .custom-control-label:after {
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
}

.ugf-input-block .form-group .custom-checkbox .custom-control-label a {
    color: #1e85ff;
}

.ugf-input-block .check-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ugf-input-block .check-flex a {
    color: #546274;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.ugf-input-block .check-flex a:hover {
    color: #1e85ff;
}

.ugf-input-block .pass-block {
    position: relative;
}

.ugf-input-block .pass-block .pass-toggler-btn {
    position: absolute;
    top: 11px;
    right: 50px;
    font-size: 2.0rem;
}

.ugf-input-block .pass-block .pass-toggler-btn i {
    cursor: pointer;
}

.ugf-input-block .pass-block .pass-toggler-btn #eye-slash {
    display: none;
}

.ugf-input-block .pass-block .error-block {
    position: absolute;
    top: 19px;
    right: 15px;
}

.ugf-input-block .pass-block .error-block:hover .validation-requirement {
    visibility: visible;
    opacity: 1;
}

.ugf-input-block .pass-block .error-block .icon.incomplete-pass i {
    color: #fa7474;
}

.ugf-input-block .pass-block .error-block .icon i {
    font-size: 2.0rem;
}

.ugf-input-block .pass-block .error-block .validation-requirement {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 9;
    position: absolute;
    top: -10px;
    left: calc(100% + 10px);
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
    min-width: 260px;
    border-radius: 5px;
}

.ugf-input-block .pass-block .error-block .validation-requirement:before {
    position: absolute;
    top: 10px;
    left: -8px;
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    -webkit-box-shadow: 0px -5px -30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -5px -30px 0px rgba(0, 0, 0, 0.1);
    border-right: 8px solid #ffffff;
}

.ugf-input-block .pass-block .error-block .validation-requirement ul {
    padding: 20px 30px;
    margin: 0;
    list-style: none;
}

.ugf-input-block .pass-block .error-block .validation-requirement ul li {
    font-size: 1.3rem;
    font-weight: 400;
    color: #546274;
    font-family: "Roboto", sans-serif;
    position: relative;
    padding-left: 25px;
}

.ugf-input-block .pass-block .error-block .validation-requirement ul li+li {
    margin-top: 5px;
}

.ugf-input-block .pass-block .error-block .validation-requirement ul li.incomplete-item:before {
    color: #d3d3d3;
    content: url(../img/check-grey.svg);
}

.ugf-input-block .pass-block .error-block .validation-requirement ul li:before {
    content: url(../img/check-green.svg);
    margin-right: 10px;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 3px;
    left: 0;
}

.ugf-input-block .btn {
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 60px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    background: #1e85ff;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media all and (max-width: 991px) {
    .ugf-input-block .pass-block .error-block .validation-requirement {
        min-width: 210px;
    }

    .ugf-input-block .pass-block .error-block .validation-requirement ul {
        padding: 20px;
    }
}

@media all and (max-width: 767px) {
    .ugf-logo {
        left: 50%;
        padding: 0;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .form-block {
        padding-bottom: 50px;
        padding-top: 150px;
        min-height: auto;
    }

    .ugf-block .alternet-access {
        position: static;
        text-align: center;
        margin-bottom: 100px;
    }

    .ugf-input-block .pass-block .error-block .validation-requirement {
        left: auto;
        right: calc(100% + 10px);
    }

    .ugf-input-block .pass-block .error-block .validation-requirement:before {
        left: auto;
        right: -8px;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .ugf-input-block .pass-block .error-block .validation-requirement ul {
        padding: 20px;
    }
}